
body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
    margin: 10vh;
}

#leftSide, #rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2em;
    width: 30vw;
    height: 10vh;
}

#leftScore, #rightScore{
    padding: 1em;
    text-align: center;

}

.board{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 300px;
    width: 300px;
}

.cell{
    size: 3em;
    border: 2px solid black;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.cell:hover{
    cursor: pointer;
}

.replay{
    margin-top: 1vh; 
    font-size: 3em;
    border: none;
    background-color: transparent;
}

.replay:hover{
    cursor: pointer;
    position: relative;
    top: 3px
}

.restart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 600px) {

}